<div class="show">
  <h1><%= @product.name %></h1>
  <p><b>Product ID: </b><%= @product.id %></p>
  <p><b>Description: </b><%= @product.description %></p>
  <p><b>Number in Stock: </b><%= @product.stock_quantity %> Units</p>
  <p><b>Buying Cost: </b>£<%= '%.2f' % @product.buying_cost %></p>
  <p><b>Selling Price: </b>£<%= '%.2f' % @product.selling_price %></p>
  <p><b>Genre:</b> <%= @product.genre %></p>
  <p><b>Type: </b><%= @product.type %></p>
  <p><b>Manufacturer_id:</b> <%= @product.manufacturers_id %></p>
  <p><b>Deactivated? </b><%= @product.deactivated.capitalize %></p>


  <a href="/products/<%= @product.id %>/edit">Edit product details</a>

</div>
